[submodule "chuweiguo/chuweiguo.github.io"]
	path = chuweiguo/chuweiguo.github.io
	url = git@github.com:ChuweyBar/chuweiguo.github.io.git
	branch = master
[submodule "chuweiguo/public/public"]
	path = chuweiguo/public/public
	url = git@github.com:ChuweyBar/chuweiguo.github.io.git
	branch = master
